* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "centurygothic";
  font-style: normal;
  font-weight: 400;
  src: local("centurygothic"),
      url("/BH/src/centurygothic") format("woff2"),
      url("/BH/src/centurygothic.ttf") format("ttf");
}

body {
  font-family: "centurygothic", sans-serif;
  min-width: 1288px;
  color: #ececec;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}

.header__top {
  margin: 0 auto;
  position: relative;
  background-color: black;
}

.Katalog {
  float: left;
  margin: 67px 0 0;
  font-size: 28px;
  text-align: center;
}

.logo {
  float: none;
  margin: 0 0 0 -700px;
}

.Magaziny {
  float: left;
  margin: 67px 0 0 122px;
  font-size: 28px;
  text-align: center;
}

.Dostavka {
  float: left;
  margin: 64px 0 0 500px;
  font-size: 28px;
  text-align: center;
}

.Onas {
  float: left;
  margin: 65px 0 0 121px;
  font-size: 28px;
  text-align: center;
}

.Slider{
  padding-bottom: 40px;
  background-image: url(../src/IMG/Slider-fon.jpg);
  min-height: 800px;
  margin: 0 0 100px 66px;
  background-position: bottom left;
  background-repeat: no-repeat ;
}

.Slider2{
  padding-bottom: 40px;
  background-image: url(../src/IMG/Slider-fon2.jpg);
  min-height: 800px;
  margin: 0 66px 0 0;
  background-position: bottom right;
  background-repeat: no-repeat ;
}